<!doctype HTML>
<html>
  <head>
    <title><%= title %></title>
    <link href="site.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" href="favicon-64x64.png" size="64x64">
  </head>
  <body> 
    <header>
      <% if(locals.user) { %>
        Welcome <%= user.username %>!
        <% if(locals.user.admin === 1) { %>
          Admin Access
          <a href="/box-locations/new">Add Box</a>
          and
          <a href="/users">Manage Users</a>
        <% } %>
        <a href="/signout">Sign Out</a>
      <% } else { %>
        <a href="/signin">Sign In</a> 
        or
        <a href="/signup">Sign Up</a>
      <% } %>
    </header>

    <h1><%= title %></h1>

    <div id="view">
      <%- request %>
      <%- list %>
      <%- form %>           
    </div>            
  </body>
</html>