<!doctype HTML>
<html>
  <head>
    <title>Box At <%= title %></title>
    <link type="text/css" rel="stylesheet" href="/site.css">
  </head>
  <body>   
    <h1>Box At <%= title %></h1>
    <div class="content">
      <%- request %>
      <%- list %>
    </div>
    <%- form %>      
  </body>
</html>