<article>
  <p>lat <%= lat %> , lng <%= lng %></p>       
  <img src="http://www.mapquestapi.com/staticmap/v4/getmap?key=YiIbGrPqh1Gq6pmFKTopo6uTTTus3bON&size=600,400&zoom=16&center=<%= lat %>,<%= lng %>&pois=poi-blue,<%= lat %>,<%= lng %>,0,0" alt= "Awe crud">
</article>